[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests-mock = "*"
ipython = "*"

[packages]
PyMySQL = "*"
crc32c = "*"
dj-database-url = "*"
google-cloud-bigquery = "*"
google-cloud-pubsub = "*"
google-cloud-storage = "*"
pymogilefs = "*"
requests = "*"
sqlalchemy = "*"
tqdm = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
